<h2>Lista de Usuarios</h2>

<div>
    <a [routerLink]="['/usuarios/create']" class="btn btn-info">Crear Usuario</a>
    
</div>
<br>
<table class="table table-bordered">
    <thead>
        <td scope="col">Id</td>
        <td scope="col">Nombre</td>
        <td scope="col">Apellidos</td>
        <td scope="col">Email</td>
        <td scope="col">edad</td>
        <td scope="col">Rol</td>
        <td scope="col">Telefono</td>
        <td scope="col">Actions</td>
    </thead>
    <tbody>
        <tr appHover *ngFor="let usua of allUsuarios; let i = index;">
            <th scope="row">{{ usua.id}}</th>
            <td>{{usua.name }}</td>
            <td>{{usua.lastname }}</td>
            <td>{{usua.email}}</td>
            <td>{{usua.age }}</td>
            <td>{{usua.role}}</td>
            <td>{{usua.phone }}</td>
            <td>
                <a [routerLink]="['/usuarios/', usua.id]" class="btn btn-sm btn-primary" type="button">Editar</a>
                <button class="btn btn-sm btn-danger" (click)="onRemove(usua.id)" type="button">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
